<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/crearGif/crearGif.css">
    <script src="https://kit.fontawesome.com/b925ec4270.js" crossorigin="anonymous"></script>
    <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
    <script src="CrearGif.js" type="module"></script>
</head>

<body>
    <header class="header">
        <div class="header-content">
            <div class="logo-contenedor">
                <a href="/index.html"><img class="logo" id="Header-logo" src="/img/logo-mobile.svg" alt="logo"></a>
            </div>
            <div class="desplegable">
                    <input type="checkbox" class="menu-check" id="menu">
                    <label class="menu-label" for="menu">
                        <i class="fa fa-bars" id="barras" aria-hidden="true"></i>
                    </label>
                    <label class="menu-label1" for="menu">
                        <i class="far fa-times-circle"></i>
                    </label>
                    <nav class="menu-lista">
                        <ul>
                            <li><a id="nocturno">Modo Nocturno</a></li>
                            <li><a href="/views/favoritos/favoritos.html">Favoritos</a></li>
                            <li><a href="/views/misGifos/misGifos.html">Mis GIFOS</a></li>
                            <li>
                                <a href="/views/crearGif/crearGif.html">
                                    <div class="add">
                                        +
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </nav>
            </div>
        </div>
    </header>

    <main class="principal">
        <section class="camara"> 
            <img src="/img/camara.svg" id="camara-img" alt="camara">
            <div class="luz"></div>
        </section>
        <section class="contenido">
            <section class="contenido-gif">

                <div id="gif" class="Gif">
                    <div class="pantalla1 pantalla">
                        <span class="titulo">Aquí podrás <br> crear tus propios <span >GIFOS</span></span>
                        <span class="texto">¡Crea tu GIFO en sólo 3 pasos! <br>(sólo necesitas una cámara para grabar un video)</span>
                    </div>
                    <div class="pantalla2 pantalla">
                        <span class="titulo">¿Nos das acceso<br>a tu cámara?</span>
                        <span class="texto">El acceso a tu camara será válido sólo<br>por el tiempo en el que estés creando el GIFO.</span>
                    </div>
                    <div class="pantalla3 pantalla">
                        <video id="video" class="video"></video>
                        <div class="label" id="label"></div>
                    </div>
                </div>
            </section>

            <div class="pasos">
                <span class="pasosItem">1</span>
                <span class="pasosItem">2</span>
                <span class="pasosItem">3</span>
            </div>

            <span class="separador"></span>
            <button id="comenzar" class="btn Comenzar">Comenzar</button>
            <button id="grabar" class="btn Grabar">Grabar</button>
            <button id="parar" class="btn stop">Finalizar</button>
            <button id="subir" class="btn subirGif">Subir Gif</button>

        </section>

        <section class="pelicula">
            <img src="/img/pelicula.svg" id="pelicula-img" alt="pelicula" >
        </section>
        
    </main>

    <footer class="footer">
        <section class="redes">
            <p class="texto">
                Compartir en:
            </p>
            <div class="iconos">
                <i class="fab fa-facebook icon"></i>
                <i class="fab fa-twitter icon"></i>
                <i class="fab fa-instagram icon"></i>
            </div>
        </section>
        <section class="derechos">
            <p class="texto">
                &copy;GIFOS 2021 All Rights Reserved.
            </p>
        </section>
    </footer>
</body>

</html>