
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$hd_height_s : 95px;
$hd_height_s_list : 224px;
$hd_bg_color :  rgba(87,46,229,0.90);

$bg_color_nocturno : #37383C;

$color: #572EE5;

$text_color: #572EE5;
$text_color_secondary:#50e3c2;

// 

// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;