@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: white;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

body.dark {
  background-color: #37383C;
}

a {
  text-decoration: none;
  color: black;
}

.zoom {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}

body.dark .zoom {
  background: #222326;
}

body.dark .zoom .cerrar {
  color: white;
}

body.dark .zoom .barra-texto {
  color: white;
}

body.dark .zoom .barra-texto .user {
  color: white;
}

.zoom .cerrar {
  position: absolute;
  top: 64px;
  right: 13%;
  color: #572EE5;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: transparent;
  border: none;
}

.zoom .zoom-contenido {
  width: 85%;
  margin: 160px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.zoom .zoom-contenido .zoom-img {
  margin: auto;
  display: block;
  width: 100%;
  height: calc(174px + 19vw);
}

.zoom .zoom-contenido .barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5%;
}

.zoom .zoom-contenido .barra .barra-texto {
  text-align: left;
}

.zoom .zoom-contenido .barra .barra-texto .user {
  font-family: 'Roboto', sans-serif;
  font-weight: medium;
  font-size: 15px;
  color: black;
  line-height: 25px;
  text-align: center;
  opacity: none;
}

.zoom .zoom-contenido .barra .barra-texto .barra_titulo {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: black;
  line-height: 25px;
  text-align: center;
}

.zoom .zoom-contenido .barra .barra-icon {
  width: 80px;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.zoom .zoom-contenido .barra .barra-icon .icon {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 6px;
  margin: 3%;
  cursor: pointer;
}

body.dark .zoom .zoom-contenido {
  background: #222326;
}

body.dark .zoom .zoom-contenido .cerrar {
  color: white;
}

body.dark .zoom .zoom-contenido .barra-texto .user, body.dark .zoom .zoom-contenido .barra-texto .barra_titulo {
  color: white;
}

@media (min-width: 768px) {
  .zoom .zoom-contenido .zoom-img {
    height: 385px;
  }
}

@media (min-width: 818px) {
  .zoom .zoom-contenido {
    width: 695px;
  }
  .zoom .zoom-contenido .zoom-img {
    width: 695px;
    height: 385px;
  }
}

.header {
  margin: 0;
  width: 100%;
  background-color: white;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

body.dark .header {
  background-color: #37383C;
}

body.dark .header::before {
  background-color: black;
}

.header::before {
  display: block;
  margin: 0;
  width: 100%;
  height: 5px;
  background-color: rgba(87, 46, 229, 0.9);
  content: "";
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 95px;
}

.header .header-content .logo-contenedor .logo {
  width: 58px;
  height: 49px;
}

.header .header-content > div {
  margin: 22px;
}

.header .header-content .menu-lista {
  display: none;
  position: absolute;
  background-color: rgba(87, 46, 229, 0.9);
  width: 100%;
  height: calc(100% - 52px);
  top: 95px;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

body.dark .header .header-content .menu-lista {
  background-color: black;
}

.header .header-content .menu-lista ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.header .header-content .menu-lista ul li {
  display: block;
  width: 100%;
  height: 60px;
  list-style: none;
  text-align: center;
}

.header .header-content .menu-lista ul li::after {
  display: block;
  margin: 0 auto 0;
  width: 50px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  content: "";
}

.header .header-content .menu-lista ul li a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: white;
  line-height: 60px;
  text-align: center;
}

.header .header-content .menu-lista ul li a:hover {
  border-bottom: 2px solid #5ED7C6;
}

.header .header-content .menu-lista ul li a:active {
  color: #9CAFC3;
}

.header .header-content .menu-lista ul li a .add {
  display: none;
  width: 54px;
  height: 54px;
  border: 1px solid #572EE5;
  border-radius: 50%;
  padding-top: 27px;
  font-size: 19px;
}

.header .header-content .menu-lista ul li a .add:hover {
  background-color: #572EE5;
  color: white;
}

body.dark .header .header-content .menu-lista ul li a .add {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

body.dark .header .header-content .menu-lista ul li a .add:hover {
  background-color: white;
  color: #37383C;
}

.header .header-content .menu-check {
  display: none;
}

.header .header-content .menu-check:checked ~ .menu-label {
  display: none;
}

.header .header-content .menu-check:checked ~ .menu-label1 {
  display: block;
}

.header .header-content .menu-check:checked ~ .menu-lista {
  display: block;
  position: absolute;
  z-index: 99;
  -webkit-animation: menu-lista-visible 0.5s linear;
          animation: menu-lista-visible 0.5s linear;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  top: 95px;
}

.header .header-content .menu-label {
  cursor: pointer;
  color: #572EE5;
}

body.dark .header .header-content .menu-label {
  color: white;
}

.header .header-content .menu-label1 {
  display: none;
  color: #572EE5;
}

body.dark .header .header-content .menu-label1 {
  color: white;
}

@-webkit-keyframes menu-lista-visible {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@keyframes menu-lista-visible {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

/* ------------ Vista escritorio ------------*/
@media (min-width: 768px) {
  .header .header-content {
    height: 90px;
  }
  .header .header-content .logo-contenedor .logo {
    width: 72px;
    height: 60px;
  }
  .header .header-content div {
    margin: 0% 7% 0% 7%;
  }
  .header .header-content .menu-lista {
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    margin: 0;
  }
  body.dark .header .header-content .menu-lista {
    background-color: #37383C;
  }
  .header .header-content .menu-lista ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header-content .menu-lista ul li {
    width: 107px;
    height: auto;
    border-bottom: none;
  }
  body.dark .header .header-content .menu-lista ul li::after {
    display: none;
  }
  .header .header-content .menu-lista ul li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #572EE5;
    line-height: 0px;
    text-align: center;
    color: #572EE5;
  }
  body.dark .header .header-content .menu-lista ul li a {
    color: white;
  }
  .header .header-content .menu-label1,
  .header .header-content .menu-label,
  .header .header-content .menu-check {
    display: none;
  }
}

@media (min-width: 1000px) {
  .header .header-content div {
    margin: 0% 156px 0% 156px;
  }
}

@media (min-width: 1439px) {
  .header .header-content .menu-lista ul li a .add {
    display: block;
    margin: 0;
  }
}

/* ------------FIN Vista escritorio ------------*/
.principal .titulo {
  width: 76.5%;
  margin: 0 auto;
}

.principal .titulo h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #572EE5;
  line-height: 33px;
  text-align: center;
}

.principal .titulo h1 .span-gifos {
  color: #50e3c2;
}

.principal .contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.principal .contenido .contenido-gifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.principal .contenido .contenido-gifs .gifItem {
  margin: 10.5px;
  position: relative;
  overflow: hidden;
}

.principal .contenido .contenido-gifs .gifItem .img {
  width: 156px;
  height: 120px;
}

.principal .contenido .contenido-gifs .gifItem .gifHover {
  display: none;
}

.principal .contenido .contenido-gifs .gifItem:hover .gifHover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: #572EE5;
}

.principal .contenido .contenido-gifs .gifItem:hover .gifHover .icons {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.principal .contenido .contenido-gifs .gifItem:hover .gifHover .icons .icon {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 6px;
  margin: 1%;
  cursor: pointer;
}

.principal .contenido .contenido-gifs .gifItem:hover .gifHover .text {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
}

.principal .contenido .contenido-gifs .gifItem:hover .gifHover .text .user {
  font-family: 'Roboto', sans-serif;
  font-weight: medium;
  font-size: 15px;
  color: white;
  line-height: 23px;
  text-align: center;
  opacity: none;
}

.principal .contenido .contenido-gifs .gifItem:hover .gifHover .text .gif-titulo {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: white;
  line-height: 23px;
  text-align: center;
  opacity: none;
}

.principal .contenido .contenido-gifs .gifItem:hover .gifHover .text .user, .principal .contenido .contenido-gifs .gifItem:hover .gifHover .text .gif-titulo {
  width: auto;
  margin-left: 5%;
  text-align: left;
}

@media (min-width: 768px) {
  .principal .contenido .contenido-gifs .gifItem {
    margin: 14.5px;
  }
  .principal .contenido .contenido-gifs .gifItem .img {
    width: 240px;
    height: 190px;
  }
}

@media (min-width: 1440px) {
  .principal .contenido .contenido-gifs .gifItem {
    margin: 14.5px;
  }
  .principal .contenido .contenido-gifs .gifItem .img {
    width: 260px;
    height: 200px;
  }
}

.principal .contenido .contenido-gifs .sinResultados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.principal .contenido .contenido-gifs .sinResultados p {
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #50E3C2;
  line-height: 25px;
  text-align: center;
}

.principal .contenido .bus-ver {
  margin-top: 68px;
}

.principal .contenido .bus-ver button {
  width: 127px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #572EE5;
  border-radius: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #572EE5;
  line-height: 0px;
  text-align: center;
  cursor: pointer;
}

.principal .contenido .bus-ver button:hover {
  background-color: #572EE5;
  color: white;
  border-color: white;
}

body.dark .principal .contenido .bus-ver button {
  border: 1px solid white;
  color: white;
}

body.dark .principal .contenido .bus-ver button:hover {
  background-color: white;
  color: #37383C;
}

@media (min-width: 768px) {
  .principal .titulo {
    width: 580px;
    margin-top: 76px;
  }
  .principal .titulo h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #572EE5;
    line-height: 50px;
    text-align: center;
  }
}

.footer {
  margin-top: 45px;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.footer .trend-gifos {
  width: 100%;
  height: 430px;
  text-align: center;
  background: #F3F5F8;
  padding: 46px 0 0 0;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.footer .trend-gifos .titulo {
  margin-bottom: 7px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #572EE5;
  line-height: 30px;
  text-align: center;
}

.footer .trend-gifos .texto {
  font-family: 'Roboto', sans-serif;
  font-weight: medium;
  font-size: 16px;
  color: black;
  line-height: 23px;
  text-align: center;
  opacity: none;
  margin-bottom: 32px;
}

.footer .trend-gifos .gifos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  overflow: hidden;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.footer .trend-gifos .gifos .flecha {
  display: none;
}

.footer .trend-gifos .gifos .gifosContendido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  overflow: hidden;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.footer .trend-gifos .gifos .gifosContendido div:nth-last-child(1) {
  display: none;
}

.footer .trend-gifos .gifos .gifosContendido .gifItem {
  margin: 10.5px;
  position: relative;
  overflow: hidden;
}

.footer .trend-gifos .gifos .gifosContendido .gifItem .img {
  width: 243px;
  height: 187px;
}

.footer .trend-gifos .gifos .gifosContendido .gifItem .gifHover {
  display: none;
}

.footer .trend-gifos .gifos .gifosContendido .gifItem:hover .gifHover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: #572EE5;
}

.footer .trend-gifos .gifos .gifosContendido .gifItem:hover .gifHover .icons {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .trend-gifos .gifos .gifosContendido .gifItem:hover .gifHover .icons .icon {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 6px;
  margin: 1%;
  cursor: pointer;
}

.footer .trend-gifos .gifos .gifosContendido .gifItem:hover .gifHover .text {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
}

.footer .trend-gifos .gifos .gifosContendido .gifItem:hover .gifHover .text .user {
  font-family: 'Roboto', sans-serif;
  font-weight: medium;
  font-size: 15px;
  color: white;
  line-height: 23px;
  text-align: center;
  opacity: none;
}

.footer .trend-gifos .gifos .gifosContendido .gifItem:hover .gifHover .text .gif-titulo {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: white;
  line-height: 23px;
  text-align: center;
  opacity: none;
}

.footer .trend-gifos .gifos .gifosContendido .gifItem:hover .gifHover .text .user, .footer .trend-gifos .gifos .gifosContendido .gifItem:hover .gifHover .text .gif-titulo {
  width: auto;
  margin-left: 5%;
  text-align: left;
}

@media (min-width: 768px) {
  .footer .trend-gifos .gifos .gifosContendido .gifItem {
    margin: 14.5px;
  }
  .footer .trend-gifos .gifos .gifosContendido .gifItem .img {
    width: 334px;
    height: 228px;
  }
}

@media (min-width: 1440px) {
  .footer .trend-gifos .gifos .gifosContendido .gifItem {
    margin: 14.5px;
  }
  .footer .trend-gifos .gifos .gifosContendido .gifItem .img {
    width: 357px;
    height: 275px;
  }
}

body.dark .footer .trend-gifos {
  background: #222326;
}

body.dark .footer .trend-gifos .titulo, body.dark .footer .trend-gifos .texto {
  color: white;
}

.footer .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 12.7vw;
}

.footer .redes .texto {
  font-family: 'Roboto', sans-serif;
  font-weight: medium;
  font-size: 15px;
  color: black;
  line-height: 20px;
  text-align: center;
  opacity: none;
}

.footer .redes .iconos {
  width: auto;
  margin-top: 6.5vw;
}

.footer .redes .iconos .icon {
  color: #CDD6E0;
  margin-right: 6vw;
  font-size: 20px;
}

body.dark .footer .redes .texto {
  color: white;
}

.footer .derechos {
  margin: 12.7vw 0 7.3vw 0;
  text-align: center;
}

.footer .derechos .texto {
  font-family: 'Roboto', sans-serif;
  font-weight: medium;
  font-size: 14px;
  color: black;
  line-height: 20px;
  text-align: center;
  opacity: none;
}

body.dark .footer .derechos .texto {
  color: white;
}

.footer::after {
  display: block;
  margin: 0;
  width: 100%;
  height: 5px;
  background-color: rgba(87, 46, 229, 0.9);
  content: "";
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

body.dark .footer::after {
  background-color: black;
}

@media (min-width: 580px) {
  .footer .trend-gifos .gifos {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) {
  .footer .trend-gifos {
    height: 535px;
  }
  .footer .trend-gifos .titulo {
    margin-bottom: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #572EE5;
    line-height: 30px;
    text-align: center;
  }
  .footer .trend-gifos .texto {
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    font-size: 18px;
    color: black;
    line-height: 23px;
    text-align: center;
    opacity: none;
    margin-bottom: 53px;
  }
  .footer .trend-gifos .gifos {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .trend-gifos .gifos .gifosContendido .gifItem {
    margin: 29px;
  }
  .footer .trend-gifos .gifos .gifosContendido .gifItem .img {
    width: 334px;
    height: 228px;
  }
  .footer .redes {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 49.5px 0 51px 0;
    width: 50%;
    padding-left: 70px;
  }
  .footer .redes .iconos {
    margin-top: 0;
  }
  .footer .redes .iconos .icon {
    margin-right: 0;
    margin-left: 19px;
  }
  .footer .derechos {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    float: right;
    width: 50%;
    margin: 49.5px 0 51px 0;
    padding-right: 70px;
  }
  .footer .derechos .texto {
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    font-size: 14px;
    color: black;
    line-height: 20px;
    text-align: center;
    opacity: none;
  }
}

@media (min-width: 1000px) {
  .footer .trend-gifos .gifos .flecha {
    display: block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #572EE5;
    color: #572EE5;
    font-size: 18px;
  }
  .footer .trend-gifos .gifos .flecha:hover {
    background-color: #572EE5;
    color: white;
  }
  body.dark .footer .trend-gifos .gifos .flecha {
    border: 1px solid white;
    color: white;
  }
  body.dark .footer .trend-gifos .gifos .flecha:hover {
    background-color: white;
    color: #37383C;
  }
}

@media (min-width: 1280px) {
  .footer .trend-gifos .gifos .gifosContendido div:nth-last-child(1) {
    display: block;
  }
}

@media (min-width: 1440px) {
  .footer {
    margin-top: 95px;
  }
  .footer .trend-gifos {
    height: 640px;
  }
  .footer .trend-gifos .titulo {
    margin-bottom: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #572EE5;
    line-height: 30px;
    text-align: center;
  }
  .footer .trend-gifos .texto {
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    font-size: 18px;
    color: black;
    line-height: 23px;
    text-align: center;
    opacity: none;
    margin-bottom: 53px;
  }
  .footer .trend-gifos .gifos {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .trend-gifos .gifos .gifosContendido .gifItem {
    margin: 29px;
  }
  .footer .trend-gifos .gifos .gifosContendido .gifItem .img {
    width: 357px;
    height: 275px;
  }
  .footer .redes {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 49.5px 0 51px 0;
    width: 50%;
    padding-left: 70px;
  }
  .footer .redes .iconos {
    margin-top: 0;
  }
  .footer .redes .iconos .icon {
    margin-right: 0;
    margin-left: 19px;
  }
  .footer .derechos {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    float: right;
    width: 50%;
    margin: 49.5px 0 51px 0;
    padding-right: 70px;
  }
  .footer .derechos .texto {
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    font-size: 14px;
    color: black;
    line-height: 20px;
    text-align: center;
    opacity: none;
  }
}
/*# sourceMappingURL=favoritos.css.map */