.principal{
    .titulo{
        width: 76.5%;
        margin: 0 auto;

        h1{
            @include Montserrat-bold(25px,$text_color,33px);
            .span-gifos{
                color: $text_color_secondary;
            }
        }
        
    }

    .contenido{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        .contenido-gifs{
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-evenly;

            @include modooscuro;
            @include GifItem(156px,120px,240px,190px,260px,200px);

            .sinResultados{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                margin-top: 30px;
                p{  
                    margin-top: 15px;
                    @include Montserrat-bold(22px,#50E3C2,25px);  
                }
            }
        }
        

        .bus-ver{
            margin-top: 68px;
            button{
                width: 127px;
                height: 50px;
                background-color: transparent;
                border: 1px solid $color;
                border-radius: 25px;
                @include Montserrat-bold(13px,$color,0px);
                cursor: pointer;

                &:hover{
                    background-color: $color;
                    color: white;
                    border-color: white;
                }

                body.dark &{
                    border: 1px solid white;
                    color: white;

                    &:hover{
                        background-color: white;
                        color: $bg_color_nocturno;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px){
    .principal{

        .titulo{
            width: 580px;
            margin-top: 76px;   

            h1{
                @include Montserrat-bold(35px,$text_color,50px);
            }
            
        }
    }
}